<!DOCTYPE html>
<html lang="en">
<head>
 {{>layout/header}}
  <title>Document</title>
  <style>
    #preview{
      width: 100px;
      height: 100px;
    }
  </style>
</head>
<body>
  {{>layout/nav}}

  <div class="album-content w1000"  id="layer-photos-demo" class="layer-photos-demo">
    <div class="img-info">
      <img src="img/xc_img1.jpg" alt="">
      <div class="title">
        <p class="data">今日上传<span>2018/10/10</span></p>
        <p class="text">观赏最美的土耳其的日</p>
      </div>
    </div>
    <div class="layui-collapse ">
      <div class="layui-colla-item">
        <h2 class="layui-colla-title">上传</h2>
        <div class="layui-colla-content"><!--class中加入layui-show 展示该面板，没有则不显示-->
          <div id="upload-area" class="w1000">

            <form class="layui-form" action="uploadPhoto" method="post">
              <input type="hidden" name="filePath" />
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <div class="layui-upload-drag" id="uploadBtn">
                    <i class="layui-icon"></i>
                    <p>点击上传，或将文件拖拽到此处</p>
                  </div>
                </div>
              </div>
              <div class="layui-form-item layui-form-text preview-block layui-hide">
                <label class="layui-form-label">预览</label>
                <div class="layui-input-block">
                  <img src="" id="preview" alt="">
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">照片描述</label>
                <div class="layui-input-block">
                  <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <div class="layui-input-block">
                  <a class="layui-btn" id="startUpload">上传</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="img-list">
      <ul class="layui-timeline">
        <li class="layui-timeline-item">
          <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
          <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">8月18日</h3>
            <p>
              <img src="" />
              {{ctx}}
            </p>
          </div>
        </li>

      </ul>
      <div id="demo"></div>
    </div>
  </div>

{{>layout/footer}}
  <script type="text/javascript" src="layui/layui.js"></script>
  <script type="text/javascript">
   layui.config({
      base: 'js/util/'
    }).use(['element','laypage','form','layer','menu','upload','jquery'],function(){
      var element = layui.element,laypage = layui.laypage,form = layui.form,layer = layui.layer,menu = layui.menu;
      var $ = layui.jquery;

      var upload = layui.upload;
      upload.render({
          elem:"#uploadBtn",
          data:{
              'memo':function(){
                  return $("[name=desc]").val();
              }
          },
          choose:function (obj) {
              $(".preview-block").removeClass("layui-hide");
              obj.preview(function(index,file,result){
                  $("#preview").attr("src",result);
              });
          },
          auto:false,
          bindAction:"#startUpload",
          url:"upload",
          done:function (res) {
              console.log($("[name=desc]").val());
              console.log(res);
          }
      });
      //
      layer.photos({
        photos: '#layer-photos-demo'
        ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        ,tab:function(pic,layero){
          console.log(pic,layero)
        }
      });
      menu.init(); 
    })
  </script>
</body>
</html>