<!DOCTYPE html>
<html lang="en">
<head>
 {{>layout/header}}
  <title>Document</title>
</head>
<body>
{{>layout/nav}}
  <div class="banner">
    <div class="cont w1000">
      <div class="title">
        <h3>MY<br />BLOG</h3>
        <h4>well-balanced heart</h4>
      </div>
      <div class="amount">
        <p><span class="text">访问量</span><span class="access">1000</span></p>
        <p><span class="text">日志</span><span class="daily-record">1000</span></p>
      </div>
    </div>
  </div>
  <div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
  <div class="content">
    <div class="cont w1000">
      <div class="title">
        <span class="layui-breadcrumb" lay-separator="|">
          <a href="javascript:;" class="active">设计文章</a>
          <a href="javascript:;">前端文章</a>
          <a href="javascript:;">旅游杂记</a>
        </span>
      </div>
      {{#blogs}}
      <div class="list-item">
        <div class="item">
          <div class="layui-fluid">
            <div class="layui-row">
              <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
                <div class="img"><img src="img/sy_img1.jpg" alt=""></div>
              </div>
              <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                <div class="item-cont">
                  <h3>{{title}}</h3>
                  <h5>{{tags}}</h5>
                  <p>{{{shortDesc}}}</p>
                  <a href="detail?blogId={{blogId}}" class="go-icon"></a>
                </div>
            </div>
            </div>
           </div>
        </div>

      </div>
      {{/blogs}}
      <div id="demo" style="text-align: center;"></div>
    </div>
  </div>

{{>layout/footer}}

<script type="text/javascript" src="layui/layui.js"></script>
  <script type="text/javascript">
    layui.config({
      base: 'js/util/'
    }).use(['element','laypage','jquery','menu'],function(){
      element = layui.element,laypage = layui.laypage,$ = layui.$,menu = layui.menu;
      laypage.render({
        elem: 'demo'
        ,count: 70 //数据总数，从服务端得到
      });
      menu.init();
    })
  </script>
</body>
</html>