<!DOCTYPE html>
<html lang="en">
<head>
 {{>layout/header}}

  <title>Document</title>

  <link rel="stylesheet" type="text/css" href="simeditor/styles/simditor.css" />

</head>
<body>
  {{>layout/nav}}

  <div class="content whisper-content leacots-content">
    <div class="cont w1000">
      <div class="whisper-list">
        <div class="item-box">
          <div class="review-version">
              <div class="form-box">
                <div class="form">
                  <form class="layui-form" action="write" method="post">
                      <div class="layui-form-item layui-form-text">
                          <div class="layui-input-block">
                              <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                          </div>
                      </div>

                    <div class="layui-form-item layui-form-text">
                      <div class="layui-input-block">
                        <textarea id="editor" name="blogContent" placeholder="既然来了，就说几句" class="layui-textarea"></textarea>
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <div class="layui-input-block" style="text-align: right;">
                        <button class="layui-btn definite">提交</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  {{>layout/footer}}

  {{>layout/scripts}}

  <script src="simeditor/js/module.js"></script>
  <script src="simeditor/js/hotkeys.js"></script>
  <script src="simeditor/js/uploader.js"></script>
  <script src="simeditor/js/simditor.js"></script>

  <script type="text/javascript">
   layui.config({
      base: 'js/util/'
    }).use(['element','laypage','form','menu'],function(){
      element = layui.element,laypage = layui.laypage,form = layui.form,menu = layui.menu;
      // menu.init();
      // menu.submit()
    })

   var editor = new Simditor({
       textarea:$("#editor")
   })

  </script>
</body>
</html>